@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container"></div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
        <div class="form-group">
            <label for="">Điểm khởi hành</label>
            <div class="controls">
                <i class="fa fa-bus text-primary"></i>

                <select name="idOrigin" id="idOrigin" class="form-control selectpicker">
                    <option value="">Chọn điểm khởi hành</option>
                </select>
            </div>

        </div>
    </div>
</div>