
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="">
            <section id="body-content">
                <div id="steps" class="container">
                    <ul class="list-step clearfix">
                        <li>Chọn tuyến <span></span></li>
                        <li class="active">Chọn ghế <span></span></li>
                        <li>Thông tin khách hàng <span></span></li>
                        <li>Thanh toán <span></span></li>
                    </ul>
                </div>
                <div id="content-steps" class="container">
                    @await Component.InvokeAsync("SelectedSeatInfo")
                </div>
            </section>
        </div>
        <!--<div class="overlay hidden" loader="">
        <i class="fa fa-refresh fa-spin"></i>
    </div>-->
    

