

<div class="col-sm-8 col-xs-12 col-ms-12">
    <div class="panel">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <strong class="text-uppercase">Số ghế:</strong>
                            <span class="numberS"></span>
                            <span class="no ng-show">Chưa chọn ghế</span>
                        </td>
                        <td class="text-right">
                            <strong class="text-uppercase">Tổng tiền:</strong>
                            (<span class="text-primary"
                                   style="font-weight: 600;">0<sup>₫</sup></span>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="">
            <div>
                <table class="table grid-seat">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <p class="text-center text-uppercase text-primary">
                                    Chọn
                                    ghế
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>

                </table>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                        <div class="ordered"></div><span>Đang chọn</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                        <div class="booked"></div><span>Đã đặt</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                        <div class="nothing"></div><span>Còn trống</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
