

@{
    ViewData["Title"] = "Changepw";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}



<!-- /.login-box -->
<!-- jQuery -->
<script src="~/employee/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/employee/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/employee/dist/js/adminlte.min.js"></script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*đường link đã sửa*@
                    <li class="breadcrumb-item"><a asp-area="employee" asp-controller="bookticket" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row" style="margin-top: 90px">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h2 class="card-title" align="center">Change Password</h2>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Old Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="New Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Confirm Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" style="margin-left: 300px" class="btn btn-success btn-block">Change password</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


