@model BusBooking_Project.Models.ModelsView.AccountView
<html>
<head>
    <meta charset="utf-8">
    <title>AdminLTE 3 | Log in</title>
    <link rel="stylesheet" href="~/employee/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/employee/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/employee/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/employee/css/ACE.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>EMPLOYEE</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">LOGIN</p>
                <div class="input-group mb-3">
<<<<<<< HEAD
<<<<<<< HEAD
                    <input type="email" class="form-control" placeholder="Email" id="ipEmail" value="hs@gmail.com">
=======
                    <input type="email" class="form-control" placeholder="Email" id="ipEmail" value="hd4t6s@gmail.com">
>>>>>>> login emp, sửa link dẫn
=======
                    <input type="email" class="form-control" placeholder="Email" id="ipEmail" value="hs1a3ertew@gmail.com">
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="ipPw" value="Aa12345678">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block btn-logine">Sign In</button>
                    </div>
                </div>
                <div class="social-auth-links text-center mb-3">
<<<<<<< HEAD
<<<<<<< HEAD:BusBooking_Project/Areas/Employee/Views/Employee/Login.cshtml
                    <a asp-area="employee" asp-controller="employee" asp-action="forgotpw">Forgot password</a>
=======
                    <a asp-area="employee" asp-controller="employees" asp-action="forgotpw">Forgot password</a>
>>>>>>> origin/kienca:BusBooking_Project/Areas/Employee/Views/BookTicket/Login.cshtml
=======
                    <a asp-area="employee" asp-controller="employee" asp-action="forgotpw">Forgot password</a>
>>>>>>> login emp, sửa link dẫn
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    <script src="~/admin/js/sweetalert2@9.js"></script>
    <script src="~/admin/js/ACE.js"></script>
=======
    <script src="~/employee/plugins/jquery/jquery.min.js"></script>
    <script src="~/employee/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/employee/dist/js/adminlte.min.js"></script>
    <script src="~/employee/js/sweetalert2@9.js"></script>
    <script src="~/employee/js/ACE.js"></script>
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok

    <script>
        // login đã OK
        $(document).keypress(function (e) {
            if (e.which == 13) {
                Login();
            }
        });
        $('.btn-login').click(function () {
            Login();
        })

=======
    <script src="~/employee/plugins/jquery/jquery.min.js"></script>
    <script src="~/employee/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/employee/dist/js/adminlte.min.js"></script>
    <script src="~/employee/js/sweetalert2@9.js"></script>
    <script src="~/employee/js/ACE.js"></script>
    <script>
>>>>>>> login emp, sửa link dẫn
        function Login() {
            var rgEmail = new RegExp(/^[a-z][a-z0-9_\.]{5,32}@@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/);
            var rgPassword = new RegExp(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/);
            var emailip = $('#ipEmail').val();
            var pwip = $('#ipPw').val();
<<<<<<< HEAD
=======
            console.log(emailip + pwip);
>>>>>>> login emp, sửa link dẫn
            //Pw: Aa1234567
            //ít nhất 1 chữ thường
            //ít nhất 1 chữ hoá
            //ít nhất 1 số
            //chuỗi ít nhất 8 ký tự
<<<<<<< HEAD
=======

    
>>>>>>> login emp, sửa link dẫn
            if (!rgEmail.test(emailip) || !rgPassword.test(pwip)) {
                //alertError('Email or password in valid. Please check again');
                ErrorMode("Email or password in valid. Please check again", $('#result'));
                return;
            };
<<<<<<< HEAD
=======
            
>>>>>>> login emp, sửa link dẫn
            var accountView = {
                Email: emailip,
                Password: pwip
            };

            $.ajax({
<<<<<<< HEAD
                url: '/employee/login',
<<<<<<< HEAD
=======
                 url: '/employee/login',
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
                method: 'POST',
                dataType: 'json',
                data: { 'accountView': accountView },
=======
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=UTF-8',
                data: JSON.stringify(accountView),
>>>>>>> login emp, sửa link dẫn
                success: function (data) {
                    if (data == "500") {
                        ErrorMode("Email or password in valid. Please check again", $('#result'));
                    } else {
                        window.location = "/employee/bookticket/index";
                    }
                },
                error: function () {
                    ErrorMode("Don't login", $('#result'));
                }
            });
        }
<<<<<<< HEAD
<<<<<<< HEAD
=======

        $(document).keypress(function (e) {
            if (e.which == 13) {
                Login();
            }
        });
        $('.btn-logine').click(function () {
            Login();
        })

        
>>>>>>> login emp, sửa link dẫn
=======
        // end login
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
    </script>
</body>
</html>
