@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables Seat</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <!-- select -->
                            <div class="form-group">
                                <label>Select Bus</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-3">
                            <button type="button" class="btn btn-block bg-gradient-success">
                                <i class="fas fa-plus"></i>&nbsp; Add
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Code Seat</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>a</td>
                                <td class="item-record">
                                    <a class="btn btn-info btn-sm">
                                        <i class="fas fa-pencil-alt">
                                        </i> &nbsp;
                                        <span class="view-edit" style="font-size:1rem;">View/Edit</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Code Seat</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" id="removeTargetSelected">
                                <i class="fas fa-trash">
                                </i>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    
    <!-- /.row -->
</section>
<!-- /.content -->
