

<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />

    <title>SRC Travel</title>


    <!-- HTML Meta Tags -->

    <link rel="stylesheet" id="theme-style-css" href="~/customer/Content/css/style.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/customer/Content/css/fontawesome-stars.css" rel="stylesheet" />

    <link href="~/customer/Content/plugins/sidebar/slidebars.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/customer/Content/plugins/flexslider/flexslider.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/customer/Content/plugins/sliderTabs/styles/jquery.sliderTabs.min.css">


    <link rel="stylesheet" type="text/css" href="~/customer/bower_components/bootstrap-select/css/bootstrap-select.min.css" />

    <link rel="stylesheet" type="text/css" href="~/customer/Content/js/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />

    <link href="~/customer/Content/css/animate.css" rel="stylesheet" />

    <link href="~/customer/Content/css/custom.min.css?v=2311" rel="stylesheet" type="text/css" media="all" />
    <!--Google Analytic-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-131295557-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131295557-1');
    </script>
    <!---->
</head>
<body style="background: #fff;">
    <!-- Use for snow ( include css file) -->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="/www.googletagmanager.com/ns.html_1569116998.jpg"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager -->

    <img src="~/customer/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />

    <div id="br-cover-content">
        <div id="myModal" class="modal fade" role="dialog">
        </div>
    </div>
    <div>
        <div id="sb-site">

            <div class="br-header">
                <div id="top-nav" class="hidden-xs">
                    <div class="container">
                        <ul class="clearfix">
                            <li class="pull-right diff"><a href="/en-US"><img src="~/customer/Content/res/GB.png" style="padding-bottom: 2px;" alt="English" />&nbsp;<span class="hidden-xs">English</span></a></li>
                            <li class="pull-right">
                                <a target="_blank" href="https://www.facebook.com/xephuongtrang">
                                    <i class="fa fa-facebook-square"></i>&ensp;Fanpage
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <div class="container">
                        <div id="logo" class="pull-left">
                            <a href="/" class="">
                                <img id="logo-main" src="~/customer/Content/img/logo1.PNG" alt="">
                            </a>
                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="collapse" data-target="" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <ul class="pull-right hidden-xs">
                            <li><a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                            <li><a href="/vi-VN/cac-chuong-trinh-khuyen-mai.html">Khuyến mãi</a></li>
                            <li><a href="/vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
                            <li><a href="/vi-VN/ve-xe-phuong-trang-lien-he.html">Liên hệ</a></li>

                            <li><a href="https://id.futabus.vn">Đăng nhập</a></li>
                            <li><a target="_blank" href="https://hoadon.futabus.vn/">Hóa đơn</a></li>

                        </ul>
                    </div>
                </nav>
            </div>



            @RenderBody()

            <footer>

                    <div id="footer-body">
                        <div class="f-body-wrap container">

                            <nav id="nav-f">
                                <ul>
                                    <li><a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                                    <li><a href="/vi-VN/ve-xe-phuong-trang-ve-chung-toi.html">Về chúng tôi</a></li>
                                    <li><a href="/vi-VN/ve-xe-phuong-trang-dieu-khoan-su-dung.html">Điều khoản sử dụng</a></li>

                                    <li><a href="/vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
                                    <li><a href="/vi-VN/cau-hoi-thuong-gap.html">Hỏi &amp; Đáp</a></li>
                                </ul>
                            </nav>

                            <div id="f-info" class="row">
                                <div class="col-md-5 col-md-offset-2">
                                    <div id="download_btn">
                                        <ul>
                                            <li>Tải app SRCBUS tại</li>
                                            <li>
                                                <a href="https://itunes.apple.com/us/app/futa/id1049039667" target="_blank">
                                                    <img src="~/customer/Content/img/app-store.png">
                                                </a>
                                                <a href="https://play.google.com/store/apps/details?id=com.futabus.activity" target="_blank">
                                                    <img src="~/customer/Content/img/an-droid.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="social">
                                        <ul style="text-align:left">
                                            <li>Kết nối với chúng tôi</li>
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/xephuongtrang">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-google-plus-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-twitter-square"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-5 text-left">
                                    <a target="_blank" href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=14037">
                                        <img src="~/customer/Content/img/private/dathongbao-bocongthuong.png" class="logo-bocongthuong">
                                    </a>
                                </div>

                            </div>

                            <div class="f-copy">


                                <p>&copy; 2001-2016 | Bản quyền thuộc về Công ty Cổ Phần Xe Khách SRC| <a href="/">www.srcbus.vn</a></p>
                            </div>
                        </div>
                    </div>

                </footer>
        
        </div>
    </div>

    <script type="text/javascript" src="~/customer/Content/js/jquery-1.11.3.min.js"></script>


    <script type="text/javascript" src="~/customer/Content/js/bootstrap.min.js"></script>


    <script src="~/customer/Content/plugins/sidebar/slidebars.js"></script>
    <script src="~/customer/Content/js/main.js"></script>
    <script src="~/customer/Content/js/modernizr.js"></script>
    <script src="~/customer/Content/js/jquery.barrating.es5.js"></script>
    <script type="text/javascript" src="~/customer/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        $(function () {
            moment.locale("vi");
        });
    </script>

    <script>
        (function ($) {
            $(document).ready(function () {
                $.slidebars({
                    //siteClose: true,
                    disableOver: 768,
                    hideControlClasses: true,
                    scrollLock: true
                });
            });
        })(jQuery);

    </script>








    <script type="text/javascript" src="~/customer/Content/plugins/flexslider/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="~/customer/Content/plugins/sliderTabs/jquery.sliderTabs.min.js"></script>


    <script type="text/javascript" src="~/customer/bower_components/bootstrap-select/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="~/customer/Content/js/moment.min.js"></script>

    <script type="text/javascript" src="~/customer/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="~/customer/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>

    <script src="~/customer/Content/js/jquery.bootstrap.newsbox.min.js"></script>
    <script type="text/javascript" src="~/customer/Content/js/helper.min.js"></script>





    <script type="text/javascript" src="https://api2.futabus.vn/api/getsettings.js?v=1&a=webApp"></script>




    <script type="text/javascript" src="~/customer/Content/js/booking-partials.js"></script>




    <script src="~/customer/Content/js/waypoints.min.js"></script>
    <script src="~/customer/Content/js/jquery.counterup.min.js"></script>
    <script src="~/customer/Content/js/wow.js"></script>

    <script type="text/javascript">
        wow = new WOW(
            {
                boxClass: 'wow',      // default - Class name that reveals the hidden box when user scrolls.
                animateClass: 'animated', // default - Class name that triggers the CSS animations (’animated’ by default for the animate.css library)
                offset: 0,          // default - Define the distance between the bottom of browser viewport and the top of hidden box. When the user scrolls and reach this distance the hidden box is revealed.
                mobile: true,       // default - Turn on/off WOW.js on mobile devices.
                live: true        // default - consatantly check for new WOW elements on the page.
            }
        )
        wow.init();
        $(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
            $('#list-bus li:eq(2)').prependTo("#list-bus");
            //$('#simple_timer').syotimer({
            //    year: 2016,
            //    month: 1,
            //    day: 15,
            //    hour: 7,
            //    minute: 0,
            //    lang: 'vni',
            //});
            $(".demo1").bootstrapNews({
                newsPerPage: 1,
                autoplay: false,
                pauseOnHover: true,
                direction: 'up',
                newsTickerInterval: 4000,
                onToDo: function () {
                    //console.log(this);
                }
            });

            $("#footer-header").css("display", "block");

            //$.getJSON("https://api2.futabus.vn/api/gettotalbooking.json", function (data) {
            //    var n = data;
            //    if (isNaN(n)) {
            //        n = 0;
            //    }
            //    $("span.total-booking").html(n.formatMoney(0, ",", "."));
            //});


            jQuery(document).ready(function () {
                jQuery("#slider-home").flexslider({
                    slideshowSpeed: 20000,
                    pauseOnHover: true
                });
                var slider = $("div#list-bus-slidertab").sliderTabs({
                    mousewheel: false,
                    autoplay: false
                    //position: "bottom"
                });
            });

            $(document).ready(function () {
                $('a.futa-book-ticket').on('click', function (e) {
                    e.preventDefault();
                    var productObj = $(this).attr('data-obj');
                    var url = $(this).attr("href");
                    dataLayer.push({
                        'event': 'productClick',
                        'ecommerce': {
                            'click': {
                                'actionField': { 'list': productObj.list },      // Optional list property.
                                'products': [{
                                    'name': productObj.name,                      // Name or ID is required.
                                    'id': productObj.id,
                                    'price': productObj.price,
                                    'brand': productObj.brand,
                                    'category': productObj.cat,
                                    'variant': productObj.variant
                                }]
                            }
                        },
                        'eventCallback': function () {
                            document.location = url;
                        }
                    });
                });
            });
        })
            //$(window).load(function () {
            //    setCookie('showPop', '0');
            //});
    </script>





    <!-- GA Tracking -->
    <!-- End GA Tracking -->

</body>
</html>

