
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                <div>
                    @await Component.InvokeAsync("BookingPartialForm")
                </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-ms-12">
                <div id="slider-home" class="flexslider">
                    <ul class="slides">
                        <li><a href="#"><img src="~/customer/uploads/useravatar/hinhslide2.jpg" /></a></li>
                        <li><a href="#"><img src="~/customer/uploads/useravatar/hinhslide2.jpg" /></a></li>
                        <li><a href="#"><img src="~/customer/uploads/useravatar/hinhslide2.jpg" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


